cycler==0.10.0
docx2txt==0.8
joblib==1.2.0
kiwisolver==1.2.0
matplotlib==3.1.0
numpy==1.22.0
pandas==1.0.3
pdfminer==20191125
Pillow==9.3.0
pycryptodome==3.9.7
pyEDFlib==0.1.17
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
sklearn==0.0
